<!DOCTYPE html>
<html>
<head>
  <title>SampleDemo</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag "jquery-1.2.6.min.js" %>
  <%#= javascript_include_tag :defaults %>
  <%#= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
